body {font-size: 17px;}
title { font-size: 23px;
		font-family:Georgia, serif;
		color: dark-red;
		text-shadow: 5px 5px 0 #ccc}
.photo {display: block;
		width: 300px;
		margin: 20px auto;
		border-radius: 13px;
		box-shadow: 0 0 5px #666;}
.first {font-size:13px;
		color: grey;
		text-decoration:underline;}
header {background-color:yellow; 
		padding-top:50 px;}
section{background-color: red}
.two {font-size:14px;
color: black;
text-align: left;}